@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Round'
@import 'https://fonts.googleapis.com/css2?family=Roboto'
@import 'https://floaterest.github.io/fonts/iosevka.css'

html
    background-color: var(--darkest)
    color: var(--white)
    font-family: Roboto, sans-serif
    font-size: 32px

code
    font-family: 'Iosevka Web', monospace

a
    color: var(--yellow)
    text-decoration: none
    &:hover
        text-decoration: underline
